.header {
  margin-top: 6rem;
  text-align: left; }

.quote {
  margin: 0 50px 0 50px;
}

.about {
  font-size: 1.5rem;
}

p.rightabout {
  font-size: 1.25rem;
  border-width: thin;
  border-style: solid;
  border-color: #51b603;
}

footer {
  font-size: 1.5rem;
  margin-top: 50px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #51b603;
}

nav ul {
  list-style: none;
  font-weight: normal;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  /*flow-into: 100%;*/
}

footer ul {
  list-style: none;
  font-weight: normal;
}

footer ul li {
  display: inline;
  margin-right: 20px;
  /*flow-into: 100%;*/
}

img.blog {
  float: left;
  margin: 10px 10px 0 0;
}

img.project {
  width: 100%;
}

/* Larger than phone */
@media (min-width: 750px) {
  .header {
    margin-top: 18rem; }
}
