.header {
  margin-top: 6rem;
  text-align: left; }

nav ul {
  list-style: none;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  flow-into: 100%;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
}
