<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="shortcut icon" type="image/png" href="/resources/favicon-16x16.png">
	</head>
	<body>
		<nav>
			<div>
      	<ul>
      		<li><a href="/">Home</a></li>
        	<li><a href="/about">About</a></li>
      		<li><a href="/projects">Projects</a></li>
      		<li><a href="/blog">Blog</a></li>
  			</ul>
			</div>
		</nav>
		<div class="container">
    		{{ content }}
		</div>
    <footer>
    		<ul>
        		<li><a href="https://twitter.com/danoscarmike">twitter</a></li>
        		<li><a href="https://github.com/danoscarmike">github.com/danoscarmike</a></li>
						<li><a href="http://danoscarmike.com/blog/atom.xml">RSS</a></li>
			</ul>
		</footer>
	</body>
</html>
