<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="shortcut icon" type="image/png" href="/resources/favicon-16x16.png">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav">
  			<!-- <ul class="nav nav-pills"> -->
      		<li role="presentation"><a href="/">Home</a></li>
        	<li role="presentation"><a href="/about">About</a></li>
      		<li role="presentation"><a href="/projects">Projects</a></li>
      		<li role="presentation"><a href="/blog">Blog</a></li>
  			</ul>
			</div>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
    <footer>
    		<ul>
        		<li><a href="https://twitter.com/danoscarmike">twitter</a></li>
        		<li><a href="https://github.com/danoscarmike">github.com/danoscarmike</a></li>
						<li><a href="http://danoscarmike.com/blog/atom.xml">RSS</a></li>
			</ul>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/bootstrap.min.js"></script>
	</body>
</html>
