<!DOCTYPE html>
<html>
	<head>
		<title>Dan O/M</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">{{ page.title }}</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
    <footer>
    		<ul>
        		<li><a href="mailto:omeara.dan@gmail.com">email</a></li>
        		<li><a href="https://github.com/danoscarmike">github.com/danoscarmike</a></li>
			</ul>
		</footer>
	</body>
</html>
