---
layout: default
---
<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<!-- Twitter tweet -->
<a href="https://twitter.com/share" class="twitter-share-button" data-via="danoscarmike" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- facebook share -->
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.danoscarmike.com/blog&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<div class="comments">
  {% if page.comments %}
	 {% include disqus.html %}
  {% endif %}
</div>
